*{
    box-sizing: border-box;
    margin: 0;
}


:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);

    --BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);

--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);
--fontHeader: 'Raleway', sans-serif;
--padding-container: 90px 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
 /*El valor hidden esconde un elemento, pero deja (vacío) el espacio donde debería aparecer.*/
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

.nav{
    display: flex;
    align-items: center;
   
    gap: 1.1em;
    --padding-container:40px 0; 
}

.nav__logo{
    width: 110px;
  
}
.nav__img{
    width: 100%;
 display: block;
}

.nav__link:first-of-type{
    margin-left: auto;
}

.nav__link {
    text-decoration: none;
    color: var(--DesaturatedBlue);
    position: relative; /* Agregamos posición relativa al enlace, esto es importante porque queremos que la linea esté posicionada en relación con el enlace*/
    
  }
  
  /*::usamos after para crear un pseudo-elemento que estará justo después del contenido del enlace.*/

  .nav__link::after {
    content: ""; /* Agregamos contenido vacío para crear la línea */

    position: absolute; /* Usamos el valor absolute para que pueda posicionare en relación a su padre que es el enlace .nav__link */

    width: 100%; /* Ancho al 100% para cubrir todo el ancho del enlace */

    height: 2px; /* Altura de la línea */

    background-color: var(--DesaturatedBlue); /* Color de la línea */

    bottom: -5px; /* Colocamos la línea debajo del texto */

    left: 0; /* Le colocamos esto para que la línea comience desde el borde izquierdo del enlace y no su borde derecho */

    transform: scaleX(0); /* Le colocamos una escala cero para que no sea visible */

    transform-origin: left center; /* Establecemos el origen de transformación a la izquierda, con esto configuramos el punto de transformación en el lado izquierdo de la línea.*/

    transition: transform 0.3s ease; /* Agregamos una transición para suavizar el cambio */
  }
  
  .nav__link:hover::after {
    transform: scaleX(1); /* Cuando pasas el cursor, la línea se escala a su ancho completo y se hace visible*/
  }
  

.hero{
 position: relative;
 --padding-container:90px 0 170px;
}

.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("../images/bg-curve-mobile.svg");

background-repeat: no-repeat;
background-position: center;
background-size: cover;
left: 0;
bottom: 0;

}
.hero__img{
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.hero__info{
    text-align: center;
    color: var(--VeryDarkBlue);
}
.hero__title{
    font-size: 1.7rem;
    font-family: var(--fontHeader);

}

.hero__paragraph{
font-size: 0.8em;
line-height: 1.5;
margin: 1.5em 0;
}

.hero__input{
border: 1px solid var(--VeryDarkBlue);
font: inherit;
margin: 0 auto;
padding: 0 20px;
width: 100%;
border-radius: 6px;
height: 45px;
}

.hero__input::placeholder{
    color: var(--LightGray);
}

.hero__input--cta{
    margin: 1.2em 0;
    background-color: var(--BrightBlue);
    color: var(--LightGrayishBlue);
font-weight: 700;
   border: none;
   cursor: pointer;
}


/*productive*/
.productive{
    background-color: var(--LightGrayishBlue);
--padding-container: 30px 0 90px;


}

.productive__img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;

}

.productive__main{
    margin-top: 6em;

}
.productive__title{
   text-align: center;
   color: var(--VeryDarkBlue);
font-family: var(--fontHeader);
}
.productive__paragraph{
color: var(--DesaturatedBlue);
line-height: 1.5;
margin-top: 1.5em;
margin-bottom: 1.2em;
}

.productive__paragraph:last-of-type{
margin: 0; /*Acá le estamos colocando un margin de 0 para que deshabilite el parrafo de abajo*/
}
.productive__cta{
    display: block;
   width:max-content;
    margin: 2em auto 3em;
    text-decoration: none;
    color: var(--ModerateCyan);
    border-bottom: 2px solid;
    padding-bottom: 4px;
}

.productive__arrow{
vertical-align: bottom; /*Esta propiedad es para que se coloque al medio*/
}

.productive__testimony{
    width: 95%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2em 1.5em;
    border-radius: 0.6em;
    box-shadow: 0 0 10px -5px rgb(0, 0, 0, .5);
}

.productive__quote{
width: 25px;
}

.productive__person{
    width: 50px;
    height: 50px;
    object-fit: cover; /*Para que la imagen no se distorcione*/
    border: 50%;
    margin-right: 1em;
}
.productive__review{
    margin: .5em 0 1.5em;
    color: var(--VeryDarkBlue);
    line-height: 1.5;
}

.productive__card{
    display: flex;
    align-items: center;

}

.newsletter{
    background-color: var(--DesaturatedBlue);
    color: #fff;
    text-align: center;

}

.newsletter__form{
width: 80%;
margin: 0 auto;
display: flex;
flex-direction: column;
gap: 1em;
margin-top: 2em;
}

.newsletter__title{
    font-family: var(--fontHeader);
}
.newsletter__paragraph{
line-height: 1.5;
margin-top: 1.3em;
}

.newsletter__input{
padding: 0.8em .5em;
font: inherit;
font-family: var(--fontHeader);
border-radius: 3px;
border: none;
box-shadow: 0 0 4px rgb(0, 0, 0, .3);
}

.newsletter__submit{
color: #fff;
background-color: var(--BrightBlue);
padding: 1em .5em;
font:inherit;
font-family: var(--fontHeader);
border-radius: 3px;
border: none;
cursor: pointer;
}

.footer{
background-color: var(--VeryDarkBlue);
color: #fff;
}
.footer__container{
    display: flex;
    flex-direction: column;
    gap: 3em;
   
}
.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer__logo{
display: block;

}
.footer__icon{
    vertical-align: middle;
    margin-right: .5em;
}

.footer__info{
    font-size: 1.2rem;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__link{
    text-decoration:none;
    color: #fff;
    font-family: var(--fontHeader);
}


.footer__social{
    display: flex;
    width: max-content;
    margin: 0 auto;
    gap: 1.5em;
}

.footer__media{
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-decoration: none;
   display: flex;

}

.footer__img{
    width: 20px;
    height: 20px;
margin: auto;
}

@media (min-width: 768px){ 

.hero{
    --padding-container: 90px 0 200px
}


.hero::before{
    background-image: url("../images/bg-curve-desktop.svg");

}
.hero__main{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.5em;
    
}

.hero__img{
    max-width: none;

}

.hero__info{
    text-align: left;
    color: var(--VeryDarkBlue);
}
.hero__title{
    font-size: 2.3rem;

}

.hero__paragraph{
margin: 1.5em 0;
color: var(--DesaturatedBlue);
line-height: 1.5;
margin-top: 1.5em;
font-size: var(--fontHeader);
}

.hero__contact{
    display: flex;
    flex-direction: row;
    align-items: center;
     gap: 1.5em;
}
.hero__input{
min-width: 160px;
flex-grow: 1; /*Para que ocupe todo el espacio disponible*/
}

.hero__input::placeholder{
    color: var(--LightGray);
}

.hero__input--cta{
flex-grow: 0;
width: 160px;
}


.nav{
    display: flex;
    align-items: center;
   
    gap: 1.6em;
   
}
.productive__container{
display: flex;
justify-content: space-between;
align-items: center;

}
.productive__picture{
    width: 45%;
    order: 1;
}

.productive__img{
  max-width: none

}

.productive__main{
    margin-top: 0;
    width: 52%;

}
.productive__title{
  font-size: 2.1rem;
  text-align: left;
}

.productive__cta{

    margin: 2em 0 3em;

}

.productive__arrow{
vertical-align: bottom; /*Esta propiedad es para que se coloque al medio*/
}

.productive__testimony{
    max-width: 420px;
    margin: 2px ;
}

/*Footer*/

.newsletter__texts{
    width: 48%;
    max-width: 450px;
    text-align: left;
}
.newsletter__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter__form{
width: 45%;
margin: 0;
max-width: 500px;
flex-wrap: wrap;
}

.newsletter__title{
    text-align: left;
    font-size: 1.7rem;
}
.newsletter__paragraph{
line-height: 1.5;
margin-top: 1.2em;

}

.newsletter__submit{
width: max-content;
padding: 1em 2em;
}

/*Footer*/
.footer__container{
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
   
}
.footer__picture{
    width: 100%;
}
.footer__contact{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__social {
    margin: 0;
}
}

